.dialog-frame{
    width: 100%;
    height: 100%;
    background: #9E9E9E;
    position: absolute;
    z-index: 1000;
    padding: 20px;
    top: 0;
    left: 0;
    opacity: 50%;
}

.dialog-content {
    background: white;
    opacity: 100%;
    position: relative;
    top: 30%;
    left: 8%;
    width: 70%;
    height: 10%;
}

.dialog-content option {
    font-size: 37px;
}

#mode-select .dialog-content select{
    overflow: hidden;
    border: none;
}
