#common-container {
    /* max-height: 480px; */
    max-width: 900px;
}

.gray-area{
    width: 100%;
    height: 100%;
    background: #9E9E9E;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    opacity: 50%;
}


.dialog-frame{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1010;
    top: 3%;
    left: -7%;
}

.dialog-content {
    background: none;
    opacity: 100%;
    position: relative;
    top: 30%;
    left: 8%;
    width: 70%;
    height: 10%;
}

.dialog-content option {
    font-size: 37px;
}

.screens {
    font-size: 37px;
    width: 100%;
    height: 100%;
}

#mode-select .dialog-content select{
    overflow: hidden;
    border: solid gray;
    box-shadow: 5px 5px 5px #463e3b;
}

#splash-screen, #test-screen {
    background: none;
    opacity: 100%;
    position: relative;
    top: 30%;
    left: 8%;
    width: 70%;
    height: 10%;
}

#measurement-table {
    max-height: 480px;
    max-width: 900px;
}

.bad-value {
    background-color: lightcoral;
}

#measurement-table table {
    width: 100%;
    border-spacing: 0;
}

.normatives table {
    width: 100%;
    border-spacing: 0;
}

#measurement-table table th {
    border: 1px solid black;
    position: sticky;
    top: 0;
    background: white;    
}

#measurement-table table td{
    border: 1px solid black;
    text-align: right;
}

.normatives table {
    width: 100%;
    border-spacing: 0;
}

.normatives table th {
    border: 1px solid black;
    position: sticky;
    top: 0;
    background: white;    
}

.normatives table td{
    border: 1px solid black;
    text-align: right;
}

#settings-grid {
    display: grid;
    grid-template-columns: 7fr 5fr 1fr 5fr 3fr;
    grid-template-rows: 2fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr;
    max-height: 480px;
    font-size: 34px;
}

.gen-settings {
    grid-column: 1 / 3;
    grid-row: 1;
    text-align: center;
}

.mes-settings {
    grid-column: 4 / 6;
    grid-row: 1;
    text-align: center;
}

.gen-freq-lbl {
    grid-column: 1;
    grid-row: 2;
}

.gen-freq-val {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

.mes-freq-val {
    grid-column: 4;
    grid-row: 2;
    text-align: center;
}

.gen-tran-lbl {
    grid-column: 1;
    grid-row: 3;
}

.gen-tran-val {
    grid-column: 2;
    grid-row: 3;
    text-align: center;
}

.mes-tran-val {
    grid-column: 4;
    grid-row: 3;
    text-align: center;
}

.gen-zero-lbl {
    grid-column: 1;
    grid-row: 5;
}

.gen-zero-val {
    grid-column: 2;
    grid-row: 5;
    text-align: center;
}

.mes-zero-val {
    grid-column: 4;
    grid-row: 5;
    text-align: center;
}

.mes-voice1-lbl {
    grid-column: 4;
    grid-row: 6;
}

.mes-voice1-val {
    grid-column: 5;
    grid-row: 6;
}

.mes-voice2-lbl {
    grid-column: 4;
    grid-row: 7;
}

.mes-voice2-val {
    grid-column: 5;
    grid-row: 7;
}

.mes-psf-lbl {
    grid-column: 4;
    grid-row: 8;
}

.mes-psf-val {
    grid-column: 5;
    grid-row: 8;
}

.focus-mode {
    background-color: salmon;
}

.edit-mode {
    border: black;
    border-radius: 10px;
    border-width: medium;
    border-style: solid;
}

#TONE_SIGNAL_MEASUREMENT {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 3fr 3fr;
    grid-template-rows: 3fr 1fr 1fr 1fr 2fr;
    max-height: 480px;
    font-size: 34px;
}

.tsm-freq-lbl {
    grid-column: 2;
    grid-row: 2;
}

.tsm-freq-gen {
    grid-column: 3;
    grid-row: 2;
}

.tsm-freq-val {
    grid-column: 4;
    grid-row: 2;
}

.tsm-freq-unt {
    grid-column: 5;
    grid-row: 2;
}

.tsm-level-lbl {
    grid-column: 2;
    grid-row: 4;
}

.tsm-level-gen {
    grid-column: 3;
    grid-row: 4;
}

.tsm-level-val {
    grid-column: 4;
    grid-row: 4;
}

.tsm-level-unt {
    grid-column: 5;
    grid-row: 4;
}

#FREE_CHANNEL_NOISE_MEASUREMENT {
    display: grid;
    grid-template-columns: 3fr 11fr 3fr 3fr 3fr;
    grid-template-rows: 6fr 1fr 1fr 1fr 1fr;
    max-height: 480px;
    font-size: 34px;
}

.fcn-level-lbl {
    grid-column: 2;
    grid-row: 2;
}

.fcn-level-val {
    grid-column: 4;
    grid-row: 2;
}

#dsp-test-screen table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid grey
    
}

#dsp-test-screen th {
    border: 1px solid grey
}

#dsp-test-screen td {
    border: 1px solid grey
}

#dsp-test-screen tbody td:not([contenteditable]) {
    background:lightgrey
}

#touch-panel-screen button {
    width: 52px;
    height: 52px; 
}

#touch-panel-screen button > img {
    margin: 1px 0px -5px 0px;
}

#touch-panel-screen {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(3, 80px);
    margin: 160px 0px 0px -160px;
}

#combined-container {
    display: grid;
    grid-template-columns: auto auto;
}